:root {
  --primary-font: "Roboto", sans-serif;
  --title-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-slate-color: #434455;
  --primary-white-color: #ffffff;
  --primary-accent-color: #03a9f4;
}
.head {
  background-color: #e7e9fc;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-slate-color);
  font-size: 16px;
  background-color: var(--primary-white-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.header-logo {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.footer-logo {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.site-nav {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}

.site-nav:visited {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}

.contact-list {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.order-section {
  background-color: #2e2f42;
}

.order-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
}

h2,
h3 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
}

ul {
  list-style: none;
}

.nav-link {
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-link {
  color: #2e2f42;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.order-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
.team-list {
  background-color: #f4f4fd;
}

.button-li button {
  color: #4d5ae5;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
}

.button-li button:hover,
.button-li button:focus {
  color: #ffffff;
  background-color: #4d5ae5;
}

.footer-background {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 24px;
}
